@charset "UTF-8";

body
{
background-image:linear-gradient(90deg, rgb(6,188,250), rgb(221,20,243));
color: rgb(0, 0, 0);
font-size: 12pt;
font-family:Arial;
}

h1
{
  color: rgb(0,0,0);
  font-size: 30pt;
  text-align: center;
}

h1#anonimo{
    background-image: linear-gradient(90deg, (black), (white));
    color: darkgray;
    text-align: center;
    font-size: 25pt;
}

h1#mario{
    background-image: linear-gradient(90deg, (red), (blue));
    color: green;
    text-align: center;
    font-size: 25pt;
}

h2{
  color: white;
  font-size: 20pt;
  text-align: center;
}

li{
  color: gray;
  font-size: 15pt;
  text-align: left;
}

div{
  text-align: center;
}

a{
  color:darkblue;
  font-family:Arial;
  text-decoration: none;
}

pre{
    text-align: center;
}

pre#anonimo.img{
    color: black;
}

pre#mario.img{
    color: red;
}
p.impares{
    color:red;
    font-family:arial;
    font-size: 16pt;
    text-align: left;
}
p.pares{
    color: blue;
    font-family: Verdana;
    font-size: 20pt;
}
p#solitario{
    background-color: midnightblue;
}
